<form method="post" action="{{ path('diet_delete', {'id': diet.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce régime ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diet.id) }}">
    <button class="btn">Supprimer</button>
</form>
