{% extends 'dietBack.html.twig' %}

{% block title %}Nouveau Régime{% endblock %}

{% block body %}
    <h1>Nouveau Régime</h1>

    {{ include('diet/_form.html.twig') }}

    <br>
    <br>
    <br>

    <a href="{{ path('diet_index') }}"style="  background-color: #f44336; color: white; padding: 10px 35px;  text-align: center;  text-decoration: none; display: inline-block;">Retour</a>
{% endblock %}
