{% extends 'front.html.twig' %}

{% block test %}
    <h1></h1>
    <table>
        <thead>
        <tr>
            <th>
                <a href="{{ path('workoutF') }}">
                    <img  src="{{ asset('front/img/logo/workout_logo_home.png') }}" style="height: 300px;width: 300px;">
                    <br>
                    <h1 style="text-align: center;">Sport</h1>
                </a>
            </th>
            <th style="width: 120px;"></th>
            <th></th>
            <th>
                <a href="">
                    <img  src="{{ asset('front/img/logo/diet_logo_home.png') }}" style="height: 300px;width: 300px;">
                    <br>
                    <h1 style="text-align: center;">Régime</h1>
                </a>
            </th>
        </tr>
        </thead>
    </table>

{% endblock %}