<form method="post" action="{{ path('workout_delete', {'id': workout.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet exercice ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workout.id) }}">
    <button class="btn">Supprimer</button>
</form>
