{% extends 'workoutBack.html.twig' %}

{% block title %}Modifier Workout{% endblock %}

{% block body %}
    <h1>Modifier Workout</h1>

    {{ include('workout/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('workout/_delete_form.html.twig') }}

    <br>
    <br>
    <a href="{{ path('workout_index') }}"style="  background-color: #f44336; color: white; padding: 10px 35px;  text-align: center;  text-decoration: none; display: inline-block;">Retour</a>
{% endblock %}
